body {
  background-color: var(--color2);
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 1024px;
  background-color: var(--color3);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
  }
}


/* NOTE: Panel de login y registro */

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.alert {
  margin-bottom: 0px;
}


/* NOTE: Panel de navegacion izquierdo */

.navbar-toggle {
  border: 0;
  border-color: inherit;
}

.navbar-toggle .icon-bar {
  background-color: var(--color4);
}

.navbar-toggle:focus, .navbar-toggle:hover {
  background-color: var(--color1);
}

.navbar-collapse {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: var(--color1);
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: var(--color1);
  border-color: inherit;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .sidebar-search {
  padding: 15px;
}

.sidebar a {
  color: var(--color4);
}

.sidebar ul div li:last-child {
  box-shadow: inherit;
}

.sidebar>li a:hover, .sidebar li a.active {
  font-weight: bold;
  background-color: var(--color1);
}

.sidebar li a:focus {
  background-color: inherit;
  font-weight: inherit;
}

.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li, .sidebar .nav-third-level li {
  border-bottom: none !important;
}

.sidebar .nav-second-level li a {
  padding-left: 37px;
}

.sidebar .nav-third-level li a {
  padding-left: 52px;
}


/* NOTE: Opciones del panel de navegacion izquierdo */

#options {
  list-style: none;
  width: 250px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  z-index: 3;
}

.dropdown, .dropup {
  display: inline-block;
  font-size: 18px;
}

.dropdown a, .dropup a {
  padding: 15px;
  text-decoration: none;
}

.dropdown-menu {
  font-size: inherit;
  background-color: whitesmoke;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: var(--color1);
  box-shadow: 0 0 15px var(--color1);
}

.dropdown-menu>li>a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: var(--color1);
  white-space: nowrap;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: whitesmoke;
  text-decoration: none;
  background-color: var(--color1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}


/* NOTE: Boton de cambio de color */

.label-default {
  background-color: var(--color4);
}

.material-switch {
  display: inline-block;
  padding: 15px;
}

.material-switch>input[type="checkbox"] {
  display: none;
}

.material-switch>label {
  cursor: pointer;
  height: 0;
  position: relative;
  width: 40px;
}

.material-switch>label::before {
  background-color: var(--color4);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.material-switch>label::after {
  background-color: var(--color4);
  border-radius: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.material-switch>input[type="checkbox"]:checked+label::before {
  background: inherit;
  opacity: 0.5;
}

.material-switch>input[type="checkbox"]:checked+label::after {
  background: inherit;
  left: 20px;
}

@media (min-width: 768px) {
  .nav {
    z-index: 1;
  }
  #options {
    position: fixed;
    bottom: 0;
    background-color: var(--color2);
    border-top: 1px solid var(--color1);
  }
  .sidebar {
    z-index: 2;
    position: absolute;
    width: 250px;
    margin-top: 0;
    height: 100%;
  }
}


/* NOTE: Elementos del contenido de la pagina */

.p-margin {
  margin: 10px 0 10px;
}

.page-header {
  color: var(--color4);
  text-shadow: 0 0 2.5px black, 0 0 5px black;
  border-bottom: inherit;
  padding-bottom: inherit;
  margin: 20px 0;
  padding: 1% 1% 1% 0;
}

.movieList a {
  text-decoration: none;
}

.thumbnail {
  background-color: rgba(0, 0, 0, 0.30);
  border: 1px solid rgba(0, 0, 0, 0.30);
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  padding: 5px;
}

#backdrop {
  width: 100%;
  position: relative;
  z-index: 1;
}

#backdrop:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  border-radius: 5px 5px 0px 0px;
  filter: opacity(30%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbnail .row {
  color: var(--color4);
  padding: 2.5%;
  text-align: justify;
}

.thumbnail h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.thumbnail p {
  text-shadow: 0 0 2.5px black, 0 0 5px black;
}

.thumbnail ul li {
  text-shadow: 0 0 2.5px black, 0 0 5px black;
}

.poster {
  box-shadow: 0 0 15px black;
}

.poster, .posters {
  border-radius: 5px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px black;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.caption p {
  margin: 0;
  color: var(--color4);
  text-shadow: 0 0 2.5px black, 0 0 5px black;
  text-decoration: none;
  cursor: pointer;
}

.caption h3 {
  color: var(--color4);
  white-space: nowrap;
  margin: 10px 0 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 0 2.5px black, 0 0 5px black;
  text-decoration: none;
  cursor: pointer;
}


/* NOTE: Información extra pelicula */

.thumbnail .panel-body {
  background-color: var(--color4);
  box-shadow: inset 0 25px 25px -25px rgba(0, 0, 0, 0.75);
  border-radius: 0px 0px 5px 5px;
}

.thumbnail .panel-body li {
  text-shadow: inherit;
}

.thumbnail .panel-body li>a {
  color: var(--color2);
  font-weight: bold;
}

.thumbnail .panel-body li>a:hover {
  color: var(--color4);
  background-color: var(--color2);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-tabs {
  border-bottom: 1px solid var(--color2);
}

.nav-tabs>li>a {
  margin-right: 5px;
  border-radius: 5px 5px 0 0;
}

.nav-tabs>li>a:hover {
  border: 1px solid var(--color2);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: var(--color4);
  background-color: var(--color2);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: default;
  border: 1px solid var(--color2);
  border-bottom-color: transparent;
}

.tab-content {
  color: var(--color2);
}

.tab-pane p {
  color: inherit;
  text-shadow: inherit;
}

.actor {
  width: inherit;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.table>thead>tr>th, .table>tbody>tr>td {
  vertical-align: inherit;
  text-align: center;
}
